@model IEnumerable<BankingStuff.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transactionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transactionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.transactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.transactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.transactionID })
        </td>
    </tr>
}

</table>
