@model BankingStuff.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Account)
        {
            <h3>Account:</h3>
            <tr>
                <td>
                    Konto: @Html.DisplayFor(modelItem => item.accountName)
                </td>
                <br />
                <td>
                    Balance: @Html.DisplayFor(modelItem => item.balance)
                </td>
                <td>
               
                </td>
            </tr>
            <br />
            <br />
        }

        <h2>Schedule Payment</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <select name="accountID">
                    @foreach (var item in Model.Account)
                {
                        <option value="@item.accountID">@item.accountName</option>
                    }
                </select>
            </div>
                <br />
                <div class="form-group">
                    @Html.DisplayNameFor(m => m.Account.First().Transaction.First().receiverID)
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Account.First().Transaction.First().receiverID)
                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.DisplayNameFor(m => m.Account.First().Transaction.First().amount)
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Account.First().Transaction.First().amount)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.DisplayNameFor(m => m.Account.First().Transaction.First().transactionDate)
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Account.First().Transaction.First().transactionDate)
                    </div>
                </div>


                 <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm transaction" class="btn btn-default" />
            </div>
        </div>



                }







</dl>
</div>
<p>
   @Html.ActionLink("Completed Bank Transactions", "CompletedTransactions", "Transactions")
   @Html.ActionLink("Signout", "SignOut", "Customer")

</p>
