@model BankingStuff.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details overview</h2>

<div>
    <h4>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="col-lg-6">
            <h3>Account:</h3>
            <table class="table table-responsive table-striped ">
                <thead>
                    <tr>
                        <th>Accountname</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @{int sum = 0;
                        foreach (var item in Model.Account)
                        {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.accountName)</td>
                            <td>@Html.DisplayFor(modelItem => item.balance)</td>
                        </tr>
                            sum += item.balance;
                        }
                        String Str_sum = sum.ToString();
                        <tr>
                            <td>Total:</td>
                            <td>@Html.DisplayName(Str_sum)</td>
                        </tr>
                    }
                       
                </tbody>
            </table>
        </div>






        <div class="col-lg-6">
            <h2>Schedule Payment</h2>
            @using (Html.BeginForm("MakeTransaction", "Transactions"))
            {
                <div class="form-group">
                    <select name="accountID">
                        Select which one of your accounts you want to transfer money from:
                        @foreach (var item in Model.Account)
                        {
                            <option value="@item.accountID">@item.accountName</option>
                        }


                    </select>
                </div>
                <br />

                <input type="submit" value="Make Transaction" class="btn btn-default" />


            }
        </div>
    </dl>
</div>
<p>

   @Html.ActionLink("Completed Bank Transactions", "CompletedTransactions", "Transactions")
    <br />
   @Html.ActionLink("Signout", "SignOut", "Customer")

</p>
